.dataflow-edge path {
  fill: none;
  stroke-linejoin: bevel;  
}
.dataflow-edge-wire {
  stroke: #CCC;
  stroke-width: 8px;
}
.dataflow-edge-shadow {
  stroke: #AAA;
  stroke-width: 10px;
}
g.dataflow-edge.highlight .dataflow-edge-wire {
  stroke: #AAA;
}
g.dataflow-edge.highlight .dataflow-edge-shadow {
  stroke: #666;
}
g.dataflow-edge.fade .dataflow-edge-wire,
g.dataflow-edge.fade .dataflow-edge-shadow {
  stroke: #EEE;
}
