html, body {
  margin: 0;
  padding: 0;
}

.graph {
  position: relative;
}
.edges {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}
.svg-edges {
}
  svg path.edge {
    fill: none;
    stroke: #CCC;
    stroke-width: 10px;
    stroke-linejoin: bevel;
  }
  path.edge.highlight {
    stroke: #AAA;
  }
  path.edge.fade {
    stroke: #EEE;
  }
.modal-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}
  .edge-edit-box {
    position:absolute;
    z-index: 9999;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.9);  
  }
.nodes {
  position: absolute;
  top: 0;
  left: 0;  
  z-index: 1;
}
.node {
  position: absolute;
  display: inline-block;
  width: 200px;
  border: 1px black solid;
  background-color: rgba(255, 255, 255, 0.7);
}
  .node.helper {
    border-style: dotted;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .node h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

.ins {
  text-align: left;
}
  .in .label {
    margin-left: .5em;
  }
.outs {
  text-align: right;
}
  .out .label {
    margin-right: .5em;
  }
.ports ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .ports .port {
    border: 1px gray solid;
    margin: 0;
    padding: 0;
  }
    .ports .port.droppable-hover {
      border-color: black;
    }
    .port .hole {
      width: 18px;
      height: 18px;
      display: inline-block;
      border: 1px black solid;
    }
    .port .plug {
      width: 20px;
      height: 20px;
      display: inline-block;
    }
      .port .plug.active,
      .port .plug.helper {
        background-color: #AAA;
      }

.helper{
  z-index: 9999;
}
