html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.dataflow {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgb(51, 51, 51);

  position: relative;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

button, 
input[type="submit"], 
.button {
  cursor: pointer;
  border-radius: 3px;
  border: 1px #CCC solid;
  background-color: #EEE;
  color: black;
  font-size: 14px;
  margin: 1px;
  padding: 0px 6px;
}
  button:active,
  input[type="submit"]:active, 
  .button:active {
    padding-left: 7px;
    padding-right: 5px;
  }

.graph {
  z-index: 1;

  position: absolute;
  margin-top: 0;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
}
.edges {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.svg-edges {
}
  svg g.edge path {
    fill: none;
    stroke-linejoin: bevel;
  }
  g.edge path.edge-wire {
    stroke: #CCC;
    stroke-width: 10px;
  }
    g.edge path.edge-shadow {
      stroke: #AAA;
      stroke-width: 12px;
    }
  g.edge.highlight path.edge-wire {
    stroke: #AAA;
  }
  g.edge.highlight path.edge-shadow {
    stroke: #666;
  }
  g.edge.fade path.edge-wire,
  g.edge.fade path.edge-shadow {
    stroke: #EEE;
  }
.modal-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(255, 255, 255, 0.4);  
}
  .edge-edit-box {
    position:absolute;
    z-index: 9999;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.9);  
  }
.nodes {
  position: relative;
  top: 0;
  left: 0;  
  z-index: 3;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.node {
  position: absolute;
  display: inline-block;
  width: 200px;
  border: 1px #aaa solid;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 0;
}
  .node .outer {
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    z-index: -1;
  }
    .node.ui-selected .outer {
      background-color: white;
    }
    .node.ui-selected .outer {
      border: 2px #666 solid;
      top:-2px;right:-2px;bottom:-2px;left:-2px;
    }
  .node.helper {
    border-style: dotted;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .node h1 {
    cursor: move;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  .node .controls {
  }
    .node .controls .delete {
      margin-right: 10px;
    }

.graph-controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.ins {
  text-align: left;
}
  .in .label {
    margin-left: 0.25em;
  }
.outs {
  text-align: right;
}
  .out .label {
    margin-right: 0.25em;
  }
.ports ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .ports .port {
    border: 1px gray solid;
    margin: 0;
    padding: 0;
  }
    .ports .port.droppable-hover {
      border-color: black;
    }
    .port .hole {
      cursor: pointer;
      width: 18px;
      height: 18px;
      display: inline-block;
      border: 1px black solid;
    }
    .port .plug {
      width: 20px;
      height: 20px;
      display: inline-block;
    }
      .port .plug.active,
      .port .plug.helper {
        cursor: pointer;
        background-color: #AAA;
      }

.helper{
  z-index: 9999;
}


.input-container {
  margin-right: 0.25em;
}
  .input-string, 
  .input-int, 
  .input-float, 
  .input-select {
    width: 4em;
    vertical-align: top;
  }
  .input-select {
    width: 5em;
  }
  .input-bang {
    vertical-align: top;
  }

/* right menu */

.dataflow.menu-shown .graph {
  right: 300px;
}

.dataflow .menu {
  display: none;

  z-index: 2;
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 0px;
  width: 300px;
  overflow: auto;

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(250, 250, 250);
  background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(242, 242, 242));
}
.dataflow.menu-shown .menu {
  display: block;
}

.menuitem {
  display: none;
  padding: 5px;
}
.menuitem.shown {
  display: block;
}

.menu-close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}


/* actionbar's bootstrap styles */

.navbar-fixed-top {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
  .navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  }
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
      padding-right: 0px;
      padding-left: 0px;
      border-radius: 0px 0px 0px 0px;
  }
  .navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
      border-width: 0px 0px 1px;
  }
  .navbar-inner {
      min-height: 40px;
      padding-right: 20px;
      padding-left: 20px;
      background-color: rgb(250, 250, 250);
      background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242));
      background-repeat: repeat-x;
      border: 1px solid rgb(212, 212, 212);
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
  }


ul, ol {
    padding: 0px;
    margin: 0px 0px 10px 25px;
}
li {
    line-height: 20px;
}
.nav {
    margin-bottom: 20px;
    margin-left: 0px;
    list-style: none outside none;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.navbar .nav {
    position: relative;
    left: 0px;
    display: block;
    float: left;
    margin: 0px 10px 0px 0px;
}
.navbar .nav.pull-right {
    float: right;
    margin-right: 0px;
}
.navbar .nav > li {
    float: left;
}

a {
    color: rgb(0, 136, 204);
    text-decoration: none;
}
.nav > li > a {
    display: block;
}
.navbar .nav > li > a {
    float: none;
    padding: 10px 15px;
    color: rgb(119, 119, 119);
    text-decoration: none;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);

    cursor: pointer;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: rgb(153, 153, 153);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.navbar .brand {
    padding: 10px 20px;
    margin-left: -20px;

    padding-right: 10px;
    padding-left: 10px;
    margin: 0px 0px 0px -5px;

    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    color: rgb(119, 119, 119);
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
}


/*jqui*/

.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 20px; height: 20px; right: -5px; bottom: -5px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
