.dataflow {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgb(51, 51, 51);

  position: relative;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.dataflow button, 
.dataflow input[type="submit"], 
.dataflow .button {
  cursor: pointer;
  border-radius: 3px;
  border: 1px #CCC solid;
  background-color: #EEE;
  color: black;
  font-size: 14px;
  margin: 1px;
  padding: 0px 6px;
}
  .dataflow button:before, 
  .dataflow .button:before {
    color: #666;
  }
  .dataflow button:active,
  .dataflow input[type="submit"]:active, 
  .dataflow .button:active {
    padding-left: 7px;
    padding-right: 5px;
  }

  

.dataflow-graph {
  z-index: 1;

  position: absolute;
  margin-top: 0;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
}
  .dataflow-edges {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
  .dataflow-nodes {
    position: relative;
    top: 0;
    left: 0;  
    z-index: 3;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .dataflow-graph-controls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }
