.dataflow-node {
  position: absolute;
  display: inline-block;
  width: 200px;
  border: 1px #aaa solid;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  z-index: 0;
}
  .dataflow-node .outer {
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    border-radius: 3px;
    z-index: -1;
  }
    .dataflow-node.ui-selected .outer {
      border: 2px #666 solid;
      top:-2px; right:-2px; bottom:-2px; left:-2px;
    }
  .dataflow-node.helper {
    border-style: dotted;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .dataflow-node-title {
    cursor: move;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  .dataflow-node .controls {
  }
    .dataflow-node .controls .delete {
      margin-right: 10px;
    }

.dataflow-node-inspect {
  position: absolute;
  top: 0;
  right: 0;
}
