.dataflow-node-ins {
  text-align: left;
}
  .dataflow-port-label.in {
    margin-left: 0.25em;
  }
.dataflow-node-outs {
  text-align: right;
}
  .dataflow-port-label.out {
    margin-right: 0.25em;
  }
.dataflow-node-ports ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .dataflow-port {
    border: 1px gray solid;
    margin: 0;
    padding: 0;
  }
    .dataflow-port.droppable-hover {
      border-color: black;
    }
    .dataflow-port-hole {
      cursor: pointer;
      width: 10px;
      height: 10px;
      display: inline-block;
      border: 1px black solid;
    }
    .dataflow-port-plug {
      width: 12px;
      height: 12px;
      display: inline-block;
    }
      .dataflow-port-plug.active,
      .dataflow-port-plug.helper {
        cursor: pointer;
        background-color: #AAA;
      }