.dataflow-cards {
  z-index: 3;
  position: absolute;
  top: 110px;
  left: 20px;
  width: 300px;
  /* HACK */
  max-height: 70%;
  overflow: auto;
}

.dataflow-card {
  position: relative;
  border: 1px solid hsla(0, 0%, 100%, 1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: hsla(220, 11%, 97%, 0.95);  
  box-shadow: inset 0 1px 1px hsl(0, 100%, 100%), 0 2px 3px hsla(0, 0%, 0%, 0.7);  

  margin-bottom: 3px;
}

.dataflow-card-control {
  position: absolute;
  top: 0;
  right: 0;
}





.dataflow-plugin-inspector-title {
  padding: 3px 20px;
}
.dataflow-plugin-inspector-title h1{
  font-size:18px;
}
.dataflow-plugin-inspector-title h2{
  font-size:16px;
}

.dataflow-node-inspector-inputs label {
  padding: 15px 20px 10px;
  border-top: 1px solid hsl(0, 0%, 97%);
  border-bottom: 1px solid hsl(220, 10%, 91%);
  display: block;
  background-color: hsla(0, 100%, 100%, 0.4);
}

  .dataflow-node-inspector-inputs label span {
    display: inline-block;
    width: 100px;
  }

.dataflow-node-inspector-inputs textarea {
  width: 260px;
  height: 55px;
}

.input-container {
  margin-right: 0.25em;
}
  .input-string, 
  .input-int, 
  .input-float, 
  .input-select {
    padding: 6px;
    margin-top: -4px;
    border-radius: 3px;
    top: 31px;
    left: 100px;
    width: 142px;
    vertical-align: top;
    background-color: hsl(220, 20%, 97%);
    border: 1px solid hsl(220, 10%, 83%);
}

.input-string:focus, 
.input-int:focus, 
.input-float:focus, 
.input-select:focus {
  outline:none;
  background-color: hsl(220, 20%, 100%);
  box-shadow: 0 0 2px 1px hsla(210, 100%, 100%, 1)
  /*box-shadow: 0 0 2px 1px hsla(210, 100%, 100%, 1), 0 0 3px 2px hsla(210, 100%, 60%, 0.7);*/
}
  .input-select {
    width: 5em;
  }
  .input-bang {
    vertical-align: top;
  }


.dataflow-edge-inspector-route-choose button {
  width: 20px;
  height: 20px;

  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dataflow-edge-inspector-route-choose button.route0  { background-color: hsl(  0,  0%, 70%); }
.dataflow-edge-inspector-route-choose button.route1  { background-color: hsl(  0, 68%, 70%); }
.dataflow-edge-inspector-route-choose button.route2  { background-color: hsl( 30, 68%, 70%); }
.dataflow-edge-inspector-route-choose button.route3  { background-color: hsl( 60, 68%, 70%); }
.dataflow-edge-inspector-route-choose button.route4  { background-color: hsl( 90, 68%, 70%); }
.dataflow-edge-inspector-route-choose button.route5  { background-color: hsl(120, 68%, 70%); }
.dataflow-edge-inspector-route-choose button.route6  { background-color: hsl(150, 68%, 70%); }
.dataflow-edge-inspector-route-choose button.route7  { background-color: hsl(180, 68%, 70%); }
.dataflow-edge-inspector-route-choose button.route8  { background-color: hsl(210, 68%, 70%); }
.dataflow-edge-inspector-route-choose button.route9  { background-color: hsl(240, 68%, 70%); }
.dataflow-edge-inspector-route-choose button.route10 { background-color: hsl(270, 68%, 70%); }
.dataflow-edge-inspector-route-choose button.route11 { background-color: hsl(300, 68%, 70%); }
.dataflow-edge-inspector-route-choose button.route12 { background-color: hsl(330, 68%, 70%); }

.dataflow-edge-inspector-route-choose button.active {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
