/* right menu */

.dataflow-menu {
  display: none;

  z-index: 2;
  position: absolute;
  top: 110px;
  left: 20px;
  width: 300px;
  overflow: auto;


  
  
  
  border: 1px solid hsla(0, 0%, 100%, 1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: hsla(220, 11%, 97%, 0.95);  
  /*
  background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(242, 242, 242));
  box-shadow: inset 0 1px 1px hsl(0, 100%, 100%), 0 2px 6px hsl(0, 0%, 0%);
  */
  box-shadow: inset 0 1px 1px hsl(0, 100%, 100%), 0 2px 3px hsla(0, 0%, 0%, 0.7);
}
.dataflow.menu-shown .dataflow-menu {
  display: block;
}
.dataflow.menu-shown .dataflow-graph {
  right: 0px;
}

.dataflow-menuitem {
  display: none;
  padding: 0px;
}
.dataflow-menuitem.shown {
  display: block;
}

.dataflow-menu-close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}

.dataflow-plugin-inspector h1{
  font-size:20px;
  padding: 3px 20px;
}

.dataflow-node-inspector-inputs label {
  padding: 15px 20px 10px;
  border-top: 1px solid hsl(0, 0%, 97%);
  border-bottom: 1px solid hsl(220, 10%, 91%);
  display: block;
  background-color: hsla(0, 100%, 100%, 0.4);
}

  .dataflow-node-inspector-inputs label span {
    display: inline-block;
    width: 100px;
  }

.input-container {
  margin-right: 0.25em;
}
  .input-string, 
  .input-int, 
  .input-float, 
  .input-select {
    padding: 6px;
    margin-top: -4px;
    border-radius: 3px;
    top: 31px;
    left: 100px;
    width: 142px;
    vertical-align: top;
    background-color: hsl(220, 20%, 97%);
    border: 1px solid hsl(220, 10%, 83%);
}

.input-string:focus, 
.input-int:focus, 
.input-float:focus, 
.input-select:focus {
  outline:none;
  background-color: hsl(220, 20%, 100%);
  box-shadow: 0 0 2px 1px hsla(210, 100%, 100%, 1)
  /*box-shadow: 0 0 2px 1px hsla(210, 100%, 100%, 1), 0 0 3px 2px hsla(210, 100%, 60%, 0.7);*/
}
  .input-select {
    width: 5em;
  }
  .input-bang {
    vertical-align: top;
  }