.dataflow-node-ins {
  width: 100%;
  /* position: absolute; */
  padding: 5px 0;
  border-top: solid 1px white;
  border-bottom: solid 1px hsl(0, 0%, 98%);
  box-shadow: 0 0px 1px hsl(220,10%,88%);
  background-color: hsla(0, 100%, 100%,.5);
  text-align: left;
}
  .dataflow-port-label.in {
    margin-left: 5px;
  
    font-family: "proxima-nova-regular";
  }

  .dataflow-node.fade .dataflow-node-ins {
    border-color: hsl(0, 0%, 75%);
    background-color: hsla(0, 100%, 100%, 0.25);
  }

.dataflow-node-outs {
  top: 32px;
  right: 0px;
  position: absolute;
  z-index: 1;
  padding: 6px 0;
  text-align: right;
}
  .dataflow-port-label.out {
    font-family: "proxima-nova-regular";
    margin-right: 5px;
  }
.dataflow-node-ports ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .dataflow-port {
    border: none;
    margin: 0;
    padding: 0;
  }
    .dataflow-port.droppable-hover {
      border-color: black;
    }
    .dataflow-port-hole {
      cursor: pointer;
      width: 10px;
      height: 10px;
      margin-bottom: -2px;
      display: inline-block;
      border: 1px hsl(0, 0%, 100%) solid;
    
      background-color: hsl(0, 0%, 94%);
      border-radius: 4px;
      box-shadow: inset 0 1px 2px hsl(0, 0%, 79%);
}
    .dataflow-node.fade .dataflow-port-hole {
      border: 1px hsl(0, 0%, 80%) solid;
      background-color: hsl(0, 0%, 70%);
    }
    .dataflow-port-plug {
      width: 10px;
      height: 10px;
      display: inline-block;
    }
      .dataflow-port-plug.active,
      .dataflow-port-plug.helper {
        top: 0;
        position: relative;
        cursor: pointer;
        background-color: hsl(0, 100%, 102%);
      
        box-shadow: 0 1px 1px hsl(0, 0%, 81%);
}
      .dataflow-node.fade .dataflow-port-plug.active {
        background-color: hsl(0, 0%, 90%);
      }

.dataflow-port-hole.active.route0  { background-color: hsl(  0,  0%, 70%); }
.dataflow-port-hole.active.route1  { background-color: hsl(  0, 68%, 70%); }
.dataflow-port-hole.active.route2  { background-color: hsl( 30, 68%, 70%); }
.dataflow-port-hole.active.route3  { background-color: hsl( 60, 68%, 70%); }
.dataflow-port-hole.active.route4  { background-color: hsl( 90, 68%, 70%); }
.dataflow-port-hole.active.route5  { background-color: hsl(120, 68%, 70%); }
.dataflow-port-hole.active.route6  { background-color: hsl(150, 68%, 70%); }
.dataflow-port-hole.active.route7  { background-color: hsl(180, 68%, 70%); }
.dataflow-port-hole.active.route8  { background-color: hsl(210, 68%, 70%); }
.dataflow-port-hole.active.route9  { background-color: hsl(240, 68%, 70%); }
.dataflow-port-hole.active.route10 { background-color: hsl(270, 68%, 70%); }
.dataflow-port-hole.active.route11 { background-color: hsl(300, 68%, 70%); }
.dataflow-port-hole.active.route12 { background-color: hsl(330, 68%, 70%); }


